@model IEnumerable<itdevfinalproject.Models.WorkExperience>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YearsSinceLastPromotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsWithCurrentManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsInCurrentRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsAtCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YearsSinceLastPromotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsWithCurrentManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsInCurrentRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsAtCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkExepienceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkExepienceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkExepienceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
